<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WAQI_API_KEY</key>
	<string>65d04893e80657ccb41ea56736a754ff6ac37ef8</string>
	<key>OPENUV_API_KEY</key>
	<string>openuv-1e9hurmcmlxn8q-io</string>
	<key>OPENWEATHER_API_KEY</key>
	<string>a6574bb1dd2fbb74de2fb2be92448e85</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyCoy81uXO1MmYTEXoSGs6Z8Ty-Qe3rXip4</string>
</dict>
</plist>
